.sideNavBar {
  list-style-type: none;
  border-radius: 4px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.sideNavBar__featuredTopic {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: rgb(64, 72, 90);
  padding: 8px;
}

.sideNavBar__topics {
  background-color: white;
  color: inherit;
  font-size: 14px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.sideNavBar__topics:hover {
  color: rgb(40, 111, 220);
}

.sideNavBar__allContentTile {
  border-radius: 4px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  height: 53px;
}
.sideNavBar__allContentTileLabel {
  background-color: rgb(248, 249, 252);
  color: rgb(40, 111, 220);
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
}
